.txtInput {
    display: block;
    float: left;
    width: 200px;
}

.txtInput span {
    display: none;
    color: red;
}

.btnActions {
    display: block;
    margin: 5px;
}

td {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}