.txtInput {
    display: block;
    float: left;
    width: 200px;
}

.txtInput span {
    display: none;
    color: red;
}

.btnActions {
    display: block;
    margin: 5px;
}

.addonLinks {
    width: 27.4%;
    min-height: 25px;
    float: left;
    background-color: transparent;
    border: 1px solid #c8dadb;
    border-radius: 6px;
    box-shadow: 0 0 2px #5c595b;
    margin: 6px;
    padding: 6px;
}

.addonSyns {
    float: left;
    border: 2px solid #B9EABC;
    background-color: #F2FFF3;
    color: #0BA114;
    border-radius: 6px;
    padding: 3px;
    margin: 3px;
    cursor: hand;
}

.selectedSyn {
    background-color: #97FFD2;
    border: 2px solid #4A5F4D;
}

.addonOperations {
    background: url('../images/icons/add155.png') no-repeat fixed center;
    min-height: 64px;
}

body, td {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

table tr {
    cursor: hand;
}